/* Primo esercizio */
/* Secondo esercizio */

#primo-esercizio div[class*="col-"],
#secondo-esercizio div[class*="col-"],
#terzo-esercizio div[class*="col-"],
#quarto-esercizio div[class*="col-"],
#quinto-esercizio div[class*="col-"]  {
    background-color: blue;
    border: white solid 1px;
    color:white;
    text-align: center;
}

/* / Primo esercizio */



/* /Secondo esercizio */

